<aside class="col-md-3 p-0 mt-0">
    <div class="sidebar bg-transparent p-4 list-group">
        <a href="{% url "tracker:index" %}" class="d-block mb-4 list-group-item">Home</a>
        <a href="{% url "tracker:redactor-list" %}" class="d-block mb-4 list-group-item">All redactors</a>
        <a href="{% url "tracker:newspaper-list" %}" class="d-block mb-4 list-group-item">All newspapers</a>
        <a href="{% url "tracker:topic-list" %}" class="d-block mb-4 list-group-item">All topics</a>
    </div>
</aside>